body {
    color: white;
}

.container {
    border: black dashed 5px;
    border-radius: 10px;
    background-image: url("https://github.com/RebelCommand78/Unit03/blob/master/Assets/images/Heimer.jpg?raw=true");
    width: 1200px;
    height: 675px;
    text-align: center;
}

header {
    border-bottom: solid 5px white;
    text-align: center;
}

footer {
    margin-top: 30px;
    border-top: solid 5px white;
    text-align: center;
}

#generate {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin-top: 52px;
}

#copy {
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin-top: 52px;
}

#password {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}